<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<a th:href="@{/v1/users/save}">Create New User</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <a th:href="@{/v1/users/update/{userId}(userId=${user.userId})}">Edit</a>
            <a th:href="@{/v1/users/delete/{userId}(userId=${user.userId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
